[Unit]
Description=Chromix Three Server (Node.js)
After=network.target

[Service]
Type=simple
User=vanco
WorkingDirectory=/home/vanco/remote/dev-2-server/4_CHROME_EXTENSIONS/chromix-three/src/server-node
ExecStart=/usr/bin/node /home/vanco/remote/dev-2-server/4_CHROME_EXTENSIONS/chromix-three/src/server-node/chromix-three-server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target

